        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h4>About</h4>
                        <hr/>
                        <p>Programmer, Gamer, Musician</p>
                        <p><a href="/about/">About</a>, <a href="/projects/">Projects</a>, <a href="/archive/">Archive</a>, <a href="/contact/">Contact</a></p>
                    </div>
                    <div class="col-lg-4 social">
                        <h4>Social</h4>
                        <hr/>
                        <p>
                        <a href="https://github.com/Oisota">Github</a><br/>
                        <a href="https://linkedin.com/in/derek-o-morey">LinkedIn</a><br/>
                        <a href="https://gab.ai/DerekMorey">Gab</a><br/>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <h4>Theme</h4>
                        <hr/>
                        <p><a href="http://blacktie.co/demo/stanley/">Stanley</a>, a Bootstrap theme by <a href="blacktie.co">BlackTie.co</a> modified by <a href="/">{{site.author}}</a></p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
