{% extends "base.njk" %}

{% block styles %}
<link href="/{{fingerprint['css/archive.css']}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content">
	<h1>{{title}}</h1>
	<hr />
	<div class="archive-list">
		{% for post in collections.blog -%}
		<div class="hbox">
			<a href="/{{post.path}}">{{post.title}}</a>
			<span class="badge">{{post.date}}</span>
		</div>
		{% endfor -%}
	</div>
</div>
{% endblock %}
