{{> header}}
<div class="container pt">
    <div class="row">	
        <div class="col-lg-8 col-lg-offset-2">
            <h1 class="centered">Archive</h1>
            <hr/>
            <div class="list-group">
                {{#collections.blog}}
                <a href="/{{path}}" class="list-group-item">{{title}}<span class="badge">{{date}}</span></a>
                {{/collections.blog}}
                {{^collections.blog}}
                <h2 class="centered"><small>No Posts Here</small></h2>
                {{/collections.blog}}
            </div>
        </div>
    </div>
</div>
{{> footer}}
