<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		{% block styles %}
		{% endblock %}
		<link href="/{{fingerprint['css/main.css']}}" rel="stylesheet">
		<!--
			TODO figure out if fontawesome script can be either:
				placed at bottom of body or bundle the icons with site
				and import them in the css
		-->
		<script src="https://use.fontawesome.com/b1cdb9069f.js"></script>
	</head>
	<body>
		<div class="topbar">
			<header class="hbox">
				<h1>{{site.author}}</h1>
				<span id="menu-btn" class="menu-btn">
					<div></div>
					<div></div>
					<div></div>
				</span>
			</header>
			<nav id="topbar-nav" class="vbox">
				{% for link in links.nav -%}
				<a href="{{link.path}}">{{link.title}}</a>
				{% endfor -%}
			</nav>
		</div>
		<div class="left vbox">
			<nav class="vbox">
				<img height="150px" width="150px" src="/assets/me.jpg" alt="Me" />
				<h1><a href="/">{{site.author}}</a></h1>
				{% for link in links.nav -%}
				<a class="navlink" href="{{link.path}}">{{link.title}}</a>
				{% endfor -%}
			</nav>
			<footer class="social vbox">
				{% for link in links.social -%}
				<a href="{{link.url}}">{{link.title}}</a>
				{% endfor %}
			</footer>
		</div>

		<main>
			{% block content %}
			{% endblock %}
		</main>

		<script charset="utf-8">
(() => {
	let menuOpen = false;
	document.getElementById('menu-btn').addEventListener('click', (event) => {
		const topbar = document.getElementById('topbar-nav');
		if (menuOpen) {
			topbar.style.display = 'none';
			menuOpen = false;
		} else {
			topbar.style.display = 'flex';
			menuOpen = true;
		}
	});
})();
		</script>
		{% block scripts %}
		{% endblock %}
		{% if liveReloadEnabled %}
		<script src="http://localhost:8081/livereload.js"></script>
		{% endif %}
	</body>
</html>
