<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="alternate" type="application/rss+xml" href="{{site.rssUrl}}" />
		<title>{{title}}</title>
		{% block styles %}
		{% endblock %}
		<link href="/{{fingerprint['css/main.css']}}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
	</head>
	<body>
		<div class="topbar">
			<header class="hbox">
				<h1>{{site.author}}</h1>
				<span id="menu-btn" class="menu-btn">
					<div></div>
					<div></div>
					<div></div>
				</span>
			</header>
			<nav id="topbar-nav" class="vbox">
				{% for link in links.nav -%}
				{% if link.name == nav_name %}
				<a class="link-disable" href="{{link.path}}">{{link.title}}</a>
				{% else %}
				<a href="{{link.path}}">{{link.title}}</a>
				{% endif %}
				{% endfor -%}
				<div class="social">
				{% for link in links.social -%}
				<span>
					<i class="{{link.icon}} la-lg"></i>
					<a href="{{link.url}}">{{link.title}}</a>
				</span>
				{% endfor %}
				</div>
			</nav>
		</div>
		<div class="left vbox">
			<img height="130px" width="130px" src="/assets/me.jpg" alt="Me" />
			<h1>{{site.author}}</h1>
			<nav class="vbox">
				{% for link in links.nav -%}
				{% if link.name == nav_name %}
				<a class="navlink link-disable" href="{{link.path}}">{{link.title}}</a>
				{% else %}
				<a class="navlink" href="{{link.path}}">{{link.title}}</a>
				{% endif %}
				{% endfor -%}
			</nav>
			<hr class="nav-separator">
			<footer class="social">
				{% for link in links.social -%}
				<span>
					<i class="{{link.icon}} la-lg"></i>
					<a href="{{link.url}}">{{link.title}}</a>
				</span>
				{% endfor %}
			</footer>
		</div>

		<main>
			{% block content %}
			{% endblock %}
		</main>

		<script charset="utf-8">
(() => {
	let menuOpen = false;
	document.getElementById('menu-btn').addEventListener('click', (event) => {
		const topbar = document.getElementById('topbar-nav');
		if (menuOpen) {
			topbar.style.display = 'none';
			menuOpen = false;
		} else {
			topbar.style.display = 'flex';
			menuOpen = true;
		}
	});
})();
		</script>
		{% block scripts %}
		{% endblock %}
		{% if liveReloadEnabled %}
		<script src="http://localhost:8081/livereload.js"></script>
		{% endif %}
	</body>
</html>
