{% extends "base.njk" %}

{% from "macros.njk" import post_content, comment_count %}

{% block content %}
{% for post in collections.blog -%}
<div class="alt-white-grey">
	<div class="content">
		{{ post_content(site, post.title, post.date, post.path, post.excerpt) }}
		<a href="{{post.path}}">Continue Reading...</a>
	</div>
</div>
{% endfor -%}
{% endblock %}

{% block scripts %}
{{ comment_count() }}
{% endblock %}
