{% extends "base.njk" %}

{% from "macros.njk" import post_content %}

{% block content %}
{% for post in collections.blog -%}
<div class="alt-white-grey">
	<section class="content">
		{{ post_content(site, post.title, post.date, post.tags, post.permalink, post.excerpt) }}
		<a href="{{post.permalink}}">Continue Reading...</a>
	</div>
</div>
{% endfor -%}
{% endblock %}