{% macro post_content(site, title, date, tags, path, contents) %}
<div class="blog-content">
	<span class="blog-meta">
		<i class="la la-lg la-calendar" aria-hidden="true"></i>
		<span class="blog-date">{{date}}</span>
		<i class="la la-lg la-comment" aria-hidden="true"></i>
		<a class="comment-count" href="{{site.url | safe}}{{path | safe}}#disqus_thread">comments</a>
	</span>
	<span class="blog-tags">
	{% for tag in tags %}
	<a class="tag" href="/topics/{{tag.slug}}">#{{tag.name}}</a>
	{% endfor %}
	</span>
	<h1 class="blog-title"><a href="/{{path | safe}}">{{title}}</a></h1>
	<hr>
	{{ contents | safe }}
</div>
{% endmacro %}

{% macro comment_count() %}
{% if commentsEnabled %}
<script id="dsq-count-scr" src="//derekmorey-1.disqus.com/count.js" async></script>
{% endif %}
{% endmacro %}

