{% extends "base.njk" %}

{% from "macros.njk" import post_content %}

{% block styles %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow-night.min.css">
{% endblock %}

{% block content %}
<section class="content">
	{{ post_content (site, title, date, tags, path, contents) }}
	<div class="pager hbox">
		{% if next -%}
		<a class="previous" href="/{{next.path}}" title="previous">
			<i class="las la-angle-left"></i>
		</a>
		{% else -%}
		<a class="previous disabled" title="previous">
			<i class="las la-angle-left"></i>
		</a>
		{% endif -%}

		{% if previous -%}
		<a class="next" href="/{{previous.path}}" title="next">
			<i class="las la-angle-right"></i>
		</a>
		{% else -%}
		<a class="next disabled" title="next">
			<i class="las la-angle-right"></i>
		</a>
		{% endif -%}
	</div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}
