{% extends "base.njk" %}

{% from "macros.njk" import post_content, comment_count %}

{% block styles %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow-night.min.css">
{% endblock %}

{% block content %}
<section class="content">
	{{ post_content (site, title, date, tags, path, contents) }}
	<div class="pager hbox">
		{% if next -%}
		<a class="previous" href="/{{next.path}}" title="previous">
			<i class="las la-angle-left"></i>
		</a>
		{% else -%}
		<a class="previous disabled" title="previous">
			<i class="las la-angle-left"></i>
		</a>
		{% endif -%}

		{% if previous -%}
		<a class="next" href="/{{previous.path}}" title="next">
			<i class="las la-angle-right"></i>
		</a>
		{% else -%}
		<a class="next disabled" title="next">
			<i class="las la-angle-right"></i>
		</a>
		{% endif -%}
	</div>
	<div id="disqus_thread"></div>
	<noscript>
		Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</noscript>
</section>
{% endblock %}

{% block scripts %}
{% if commentsEnabled %}
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    var disqus_config = function () {
			this.page.url = '{{site.url | safe}}{{path | safe}}';  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = '{{site.url | safe}}{{path | safe}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://derekmorey-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ comment_count() }}
{% endif %}
{% endblock %}
