{% extends "base.njk" %}

{% from "macros.njk" import post_content, comment_count %}

{% block styles %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow-night.min.css">
{% endblock %}

{% block content %}
<div class="content">
	{{ post_content (site, title, date, path, contents) }}
	<div class="pager hbox">
		{% if next -%}
		<a class="previous" href="/{{next.path}}">previous</a>
		{% else -%}
		<a class="previous disabled">previous</a>
		{% endif -%}

		{% if previous -%}
		<a class="next" href="/{{previous.path}}">next</a>
		{% else -%}
		<a class="next disabled">next</a>
		{% endif -%}
	</div>
	<div id="disqus_thread"></div>
	<noscript>
		Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</noscript>
</div>
{% endblock %}

{% block scripts %}
{% if commentsEnabled %}
<script>
var disqus_config = function () {
	this.page.url = '{{site.url | safe}}{{path | escape}}';
	this.page.identifier = '{{site.url | safe}}{{path | escape}}';
};
(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = '//derekmorey-1.disqus.com/embed.js';
	s.setAttribute('data-timestamp', (new Date()).getTime());
	(d.head || d.body).appendChild(s);
})();
</script>
{{ comment_count() }}
{% endif %}
{% endblock %}
