{% extends "page.njk" %}

{% block styles %}
<link href="/{{fingerprint['css/topics.css']}}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div class="topic-list">
    {% for tag in topics | sort(true, false, 'count') -%}
    <div class="hbox">
        <a href="/topics/{{tag.slug}}">#{{tag.name}}</a>
        <span class="badge" title="article count" style="width: {{tag.percent}}%;">{{tag.count}}</span>
    </div>
    {% endfor -%}
</div>
{% endblock %}
