$darkgrey: #2F2F2F;
$badge-color: #DDDDDD;

.about-section-title {
	margin-top: 0rem;
	margin-bottom: 0.4rem;
}

.skills-title {
	margin-top: 3rem;
	margin-bottom: .2rem;
}

.badge-container {
	margin-bottom: 2rem;
}

.badge {
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	border-radius: 1rem;
	color: $darkgrey;
	background: $badge-color;
}
