//$blue: #2b87bd;
$blue: #226388;
$lightgrey: #3d3d3d;
$darkgrey: #222222;
$black: #cecece;
$white: #333333;
$text-color: #ececec;
$link-color: #4aeeee;
$link-hover-color: #acacac;
$bg-hover-color: #EEEEEE;
$social-icon-color: #737b7c;
$nav-link-color: #b2c7ca;

$navbar-width: 25em;

/* ---- Main ---- */
html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: $white;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: $text-color;
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: 700;
	color: $black;
}

h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}
h1 { font-size: 2.4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.17em; }
h5 { font-size: 1.12em; }
h6 { font-size: .85em; }

/* Paragraph & Typographic */
p {
	line-height: 28px;
	margin-bottom: 25px;
	font-size: 16px;
}

/* Links */
a {
	color: $link-color;
	word-wrap: break-word;
	transition: color 0.1s ease-in, background 0.1s ease-in;
	text-decoration: none;
}

a:hover, a:focus {
	color: $link-hover-color;
	text-decoration: none;
	outline: 0;
}

a:before, a:after {
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #bbb;
	margin: 1em 0;
	padding: 0;
}

p code {
	color: $black;
	background: $lightgrey;
	padding: 0.2em;
}

/* Helpers */
.centered {
	text-align: center;
}

.centered-child * {
	text-align: center;
}

.content {
	padding-left: 4em;
	padding-right: 4em;
	max-width: 55em;
}

.vbox, .hbox { display: flex; }
.vbox { flex-direction: column; }
.hbox { flex-direction: row; }

.flexwrap {
	flex-wrap: wrap;
}

/* Color Wraps */
.alt-white-grey {
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: $white;
}

.alt-white-grey:nth-child(odd) {
	background-color: $lightgrey;
}

/* ---- Top Bar ---- */
.topbar {
	display: none;
}

/* ---- Left Nav Bar ---- */
.left {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: $navbar-width;
	background: $darkgrey;
	overflow-y: auto;

	nav, footer {
		//flex-grow: 1;
		//flex-shrink: 0;
		align-items: center;
	}

	.nav-separator {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}

	/* ---- Left Nav Navigation ---- */
	nav {
		padding-top: 1.5em;
		justify-content: flex-start;
		text-transform: uppercase;
		img {
			border-radius: 50%;
		}
		h1 {
			font-size: 18pt;
			margin-top: 1.8em;
			margin-bottom: 1.8em;
		}
		a {
			text-decoration: none;
		}
		.navlink {
			font-size: 12pt;
			margin-bottom: 1.2em;
		}
		.navlink:hover {
			color: $black;
		}
	}
	
	/* ---- Left Nav Footer ---- */
	footer {
		color: $white;
		justify-content: center;
		a {
			text-decoration: none;
			margin-top: 0.8em;
			margin-bottom: 0.8em;
		}
	}
}

/* Social Media Links */
.social {
	display: flex;
	flex-direction: column;
	span {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
		i {
			padding-right: 0.2rem;
			color: $social-icon-color;
		}
	}
}

/* ---- Main Container ---- */
main {
	margin-left: $navbar-width;
}


/* ---- Blog Posts ---- */
.blog-meta {
	display: flex;
	flex-direction: row;
	align-items: center;

	i {
		padding-right: 0.2rem;
	}
}
.blog-date, .comment-count {
	font-size: 12px;
	text-transform: uppercase;
	color: #808080;
	font-weight: 700;
	margin-right: 2em;
}
.blog-author {
	font-size: 12px;
	text-transform: uppercase;
}
.blog-quote {
	font-size: 22px;
	padding-top: 30px;
}
.blog-title { 
	margin-bottom: 0.2em; 
	a { color: $black; }
	a:hover { color: #808080; }
}


/* ---- Pager ---- */
.pager {
	justify-content: end;
	padding-top: 0.5em;
	padding-bottom: 2em;
	a {
		border: 1px solid #DDDDDD;
		border-radius: 0.3em;
		padding: 0.5em;
		padding-left: 0.7em;
		padding-right: 0.7em;
	}
	a:hover {
		background: $bg-hover-color;
	}
	.disabled { color: #777777; }
	.disabled:hover{
		background: #FFFFFF;
		cursor: not-allowed;
	}
	.previous {
		margin-right: 0.5rem;
	}
}

/* ---- Forms and Buttons ---- */
.form-group input, .form-group textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	font-size: 12pt;
	border-radius: 0.2em;
	border: 1px solid #CCCCCC;
	padding: 0.3em;
	background-color: #EEEEEE;
}
.form-group label {
	display: block;
	font-weight: 600;
	padding-bottom: 0.4rem;
}
.form-group {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}
.btn {
	background: #FFFFFF;
	padding: 0.6em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	border: 1px solid #CCCCCC;
	border-radius: 0.3em;
	font-size: 11pt;
}
.btn:hover {
	background: $bg-hover-color;
}

/* ---- Mobile Layout ---- */
@media (max-width: 900px) {
	.topbar {
		display: block;
		background: $darkgrey;
		header { 
			justify-content: space-between;
		}
		h1 {
			color: $link-color;
			padding: 0;
			margin: 0;
			margin-left: 0.1em;
		}
	}
	#topbar-nav {
		display: none;
		background: $darkgrey;
		a {
			text-align: center;
			color: $link-color;
			margin: 1em;
		}
		.social a {
			color: $link-color;
		}
	}
	.menu-btn {
		margin-top: 0.2em;
		margin-right: 0.8em;
		div {
			width: 30px;
			height: 4px;
			margin-top: 0.4em;
			background: $white;
			border-radius: 2px;
		}
	}
	.left { display: none; }
	main { margin-left: 0; }
	.content {
		padding-top: 2em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}
