<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		<link href="/css/solarized-dark.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<script src="https://use.fontawesome.com/b1cdb9069f.js"></script>
	</head>
	<body>
		<div class="topbar">
			<h1>{{site.author}}</h1>
			<span id="menu-btn" class="menu-btn">
				<div></div>
				<div></div>
				<div></div>
			</span>
		</div>
		<div id="leftbar" class="left">
			<header>
				<img height="150px" width="150px" src="/assets/me.jpg" alt="Me" />
				<h1><a href="/">{{site.author}}</a></h1>
			</header>
			<nav>
				<ul>
					{% for link in links.nav -%}
					<li><a href="{{link.path}}">{{link.title}}</a></li>
					{% endfor -%}
				</ul>
			</nav>
			<footer>
				<ul class="social">
					{% for link in links.social -%}
					<li><a href="{{link.url}}">{{link.title}}</a></li>
					{% endfor %}
				</ul>
			</footer>
		</div>

		<div class="container">
			{% block content %}
			{% endblock %}
		</div>

		<script charset="utf-8">
(() => {
	let menuOpen = false;
	document.getElementById('menu-btn').addEventListener('click', (event) => {
		const leftbar = document.getElementById('leftbar');
		if (menuOpen) {
			leftbar.style.display = 'none';
			menuOpen = false;
		} else {
			leftbar.style.display = 'flex';
			menuOpen = true;
		}
	});
})();
		</script>
		{% block scripts %}
		{% endblock %}
	</body>
</html>
