{% extends "base.html" %}

{% from "macros.html" import post_content, comment_count %}

{% block base %}
{% for post in collections.blog -%}
<div class="alt-white-grey">
	<div class="container">
		<div class="row">	
			<div class="col-lg-8 col-lg-offset-2">
				{{ post_content(site, post.title, post.date, post.path, post.excerpt) }}
				<a href="{{post.path}}">Continue Reading...</a>
			</div>
		</div>
	</div>
</div>
{% endfor -%}
{% endblock %}

{% block scripts %}
{{ comment_count() }}
{% endblock %}
