{% extends "base.html" %}

{% from "macros.html" import post_content, comment_count %}

{% block heading %}
{% endblock %}

{% block content %}
<div class="content">
	{{ post_content (site, title, date, path, contents) }}
	<div class="pager hbox">
		{% if previous -%}
		<a class="previous" href="/{{previous.path}}">previous</a>
		{% else -%}
		<a class="previous disabled">previous</a>
		{% endif -%}

		{% if next -%}
		<a class="next" href="/{{next.path}}">next</a>
		{% else -%}
		<a class="next disabled">next</a>
		{% endif -%}
	</div>
	<div id="disqus_thread"></div>
	<noscript>
		Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</noscript>
</div>
{% endblock %}

{% block scripts %}
<script>
if (window.location.host.split(':')[0] !== 'localhost') { 
	var disqus_config = function () {
		this.page.url = '{{site.url | safe}}{{path | safe}}';
		this.page.identifier = '{{site.url | safe}}{{path | safe}}';
	};
	(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//derekmorey-1.disqus.com/embed.js';
		s.setAttribute('data-timestamp', (new Date()).getTime());
		(d.head || d.body).appendChild(s);
	})();
}
</script>
{{ comment_count() }}
{% endblock %}
