{% extends "base.html" %}

{% block content %}
<div class="container pt">
    <div class="row">	
        <div class="col-lg-8 col-lg-offset-2">
            <h1 class="centered">Projects</h1>
            <hr/>
            {% for proj in collections.projects %}
            <div class="project">
                <p><img src="{{proj.image}}" alt="{{proj.title}}"/></p>
                <h3><a href="{{proj.url}}">{{proj.title}}</a></h3>
                {{proj.contents | safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
