$blue: #225588;
$lightgrey: #f2f2f2;
$darkgrey: #2F2F2F;
$black: #333333;
$white: #FFFFFF;
$text-color: #555555;
$link-color: #5588BB;
$link-hover-color: #7b7b7b;
$bg-hover-color: #EEEEEE;
$badge-color: #666666;

$navbar-width: 25em;

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* ---- Main ---- */
html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: $white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: $text-color;
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: $black;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Paragraph & Typographic */
p {
	line-height: 28px;
	margin-bottom: 25px;
	font-size: 16px;
}

/* Links */
a {
	color: $link-color;
	word-wrap: break-word;
	transition: color 0.1s ease-in, background 0.1s ease-in;
	text-decoration: none;
}

a:hover, a:focus {
	color: $link-hover-color;
	text-decoration: none;
	outline: 0;
}

a:before, a:after {
	transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #bbb;
	margin: 1em 0;
	padding: 0;
}

p code {
	color: $black;
	background: $lightgrey;
	padding: 0.2em;
}

/* Helpers */
.centered {
	text-align: center;
}

.content {
	margin: auto;
	padding-left: 2em;
	padding-right: 2em;
	max-width: 55em;
}

.badge {
	float: right;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 1em;
	color: $white;
	background: $badge-color;
}

.vbox {
	display: flex;
	flex-direction: column;
}
.hbox {
	display: flex;
	flex-direction: row;
}

/* Color Wraps */
.alt-white-grey {
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: $white;
}

.alt-white-grey:nth-child(odd) {
	background-color: $lightgrey;
}

/* ---- Top Bar ---- */
.topbar {
	display: none;
}

/* ---- Left Nav Bar ---- */
.left {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: $navbar-width;
	background: $blue;
	overflow-y: auto;

	nav, footer {
		flex-grow: 1;
		flex-shrink: 0;
		align-items: center;
	}

	/* ---- Left Nav Navigation ---- */
	nav {
		padding-top: 1.5em;
		justify-content: flex-start;
		text-transform: uppercase;
		img {
			border-radius: 50%;
		}
		h1 {
			font-size: 20pt;
			margin-top: 1.8em;
			margin-bottom: 1.8em;
		}
		a {
			color: $white;
			text-decoration: none;
		}
		.navlink {
			font-size: 12pt;
			margin-bottom: 2.4em;
		}
		.navlink:hover {
			color: $black;
		}
	}
	
	/* ---- Left Nav Footer ---- */
	footer {
		background-color: $darkgrey;
		color: $white;
		justify-content: center;
		a {
			text-decoration: none;
			margin-top: 1.2em;
			margin-bottom: 1.2em;
		}
	}
}

/* Social Media Links */
.social {
	a:before {
		margin-right: 6px; 
		vertical-align: -3px;
	}
	a[href*='github.com']:before { content: url('/assets/icons/github.ico'); }
	a[href*='linkedin.com']:before { content: url('/assets/icons/linkedin.ico'); }
	a[href*='gab.ai']:before { content: url('/assets/icons/gab.ico'); }
}

/* ---- Main Container ---- */
main {
	margin-left: $navbar-width;
}

/* ---- Blog Archive ---- */
.archive-list {
	a {
		display: list-item;
		padding: 1em;
		list-style: none;
		border-top: 1px solid #DDDDDD;
		border-left: 1px solid #DDDDDD;
		border-right: 1px solid #DDDDDD;
		color: $text-color;
	}
	a:first-child {
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		border-top: 1px solid #DDDDDD;
	}
	a:last-child {
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
		border-bottom: 1px solid #DDDDDD;
	}
	a:hover {
		background: $bg-hover-color;
	}
}

/* ---- Blog Posts ---- */
.blog-date, .comment-count {
	font-size: 12px;
	text-transform: uppercase;
	color: #808080;
	font-weight: 700;
	margin-right: 2em;
}
.blog-author {
	font-size: 12px;
	text-transform: uppercase;
}
.blog-quote {
	font-size: 22px;
	padding-top: 30px;
}
.blog-title { 
	margin-bottom: 0.2em; 
	a { color: $black; }
	a:hover { color: #808080; }
}

/* ---- Pager ---- */
.pager {
	justify-content: space-between;
	padding-top: 1em;
	padding-bottom: 4em;
	a {
		border: 1px solid #DDDDDD;
		border-radius: 1.3em;
		padding: 0.5em;
		padding-left: 0.7em;
		padding-right: 0.7em;
	}
	a:hover {
		background: $bg-hover-color;
	}
	.disabled { color: #777777; }
	.disabled:hover{
		background: #FFFFFF;
		cursor: not-allowed;
	}
}

/* ---- Forms and Buttons ---- */
.form-group input, .form-group textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	font-size: 14pt;
	border-radius: 0.2em;
	border: 1px solid #CCCCCC;
	padding: 0.3em;
}
.form-group label {
	font-size: 1.2em;
	font-weight: 700;
}
.form-group {
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}
.btn {
	background: #FFFFFF;
	padding: 0.6em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	border: 1px solid #CCCCCC;
	border-radius: 0.3em;
	font-size: 12pt;
}
.btn:hover {
	background: $bg-hover-color;
}

/* ---- Mobile Layout ---- */
@media (max-width: 900px) {
	.topbar {
		display: block;
		background: $blue;
		header { 
			justify-content: space-between;
		}
		h1 {
			color: $white;
			padding: 0;
			margin: 0;
			margin-left: 0.1em;
		}
	}
	#topbar-nav {
		display: none;
		background: $blue;
		a {
			width: 100%;
			text-align: center;
			color: $white;
			margin: 1em;
		}
	}
	.menu-btn {
		margin-top: 0.2em;
		margin-right: 0.8em;
		div {
			width: 30px;
			height: 4px;
			margin-top: 0.4em;
			background: $white;
			border-radius: 2px;
		}
	}
	.left { display: none; }
	main { margin-left: 0; }
	.content {
		padding-top: 2em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}
