{% extends "base.njk" %}

{% from "macros.njk" import post_content, pager %}

{% block styles %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/tomorrow-night.min.css">
{% endblock %}

{% block content %}
<section class="content">
	{{ post_content (site, title, date, tags, permalink, contents) }}
    {{ pager(collection.archive) }}
</section>
{% endblock %}

{% block scripts %}
{% endblock %}
